/*** GENERIC CLASSES AND VARIABLES ***/

/* Root Variables */
:root {
  /* Base text color and font family */
  font-family: Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;

  --primary-color: #2c3e50;
  --secondary-color: #add8e6;
  --accent-color: #e74d3caa;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --text--bottom-top-color: #ededed;
  --link-color: #3498db;
  --link-hover-color: #2980b9;
  --link-active-color: #405a75;

  --hover-background-color: #1abc9c;
  --nav-buttons: #333333;

  --border: #e2e2e2;
  --border-nav-footer-color: black;
  --button-hover-color: #a0c8d6;

  --activity-header-color: #f2e9e4;
  --activity-text-color: black;
}

img {
  max-width: 100%;
}

@media (max-width: 480px) {
  .scrollable-img {
    width: 100%;
    overflow: scroll;
  }

  .scrollable-img img {
    width: 800px;
    max-width: none;
  }

  .scrollable-img::before {
    content: "SWIPE TO SEE CHANGES -->";
    font-size: 18px;
    padding: 8px;
    /* Animation could be played on scroll reveal,
       but this is impractical and clunky to do without JS
       As an alternative, it runs slowly with a subtle colour infinitely */
    animation: flash 3s ease-in-out infinite;
  }
}

@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: var(--hover-background-color);
  }
  100% {
    background-color: transparent;
  }
}

.align-center {
  display: flex;
  align-items: center;
}

.margin0 {
  margin: 0;
}

.border0 {
  border: 0;
}

.padding0 {
  padding: 0;
}

.indentAllChildrenUni1 > * {
  grid-column-start: 2;
  grid-column-end: 10;
}

.indentLeft1,
.indentUni1 {
  grid-column-start: 2;
}

.indentLeft2,
.indentUni2 {
  grid-column-start: 3;
}

.indentLeft3,
.indentUni3 {
  grid-column-start: 4;
}

.indentRight1,
.indentUni1 {
  grid-column-end: 10;
}

.indentRight2,
.indentUni2 {
  grid-column-end: 9;
}

.indentRight3,
.indentUni3 {
  grid-column-end: 8;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.2rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  font-size: 0.875rem;
  line-height: 1.3rem;
}

/*** HEADER ***/
/* Header is composed of #logoWrapper, nav, #search-container, #menu-toggle-wrapper */
/* #menu-toggle-wrapper hidden by default (desktop) */

header {
  width: 100%;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 10% auto 1fr auto 10%; /* Navbar takes up available space */
  justify-items: start; /* Navbar is aligned left in the header */
  gap: 0;

  background-color: var(--primary-color);
}

#logoWrapper {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#logoWrapper > svg,
#logoWrapper > img {
  height: 2.5em;
  width: 2.5em;
  padding: 0.5em;
  object-fit: contain;
}

nav {
  grid-row: 1 / 2;
  grid-column: 3 / 4;

  display: flex;
}

nav > ul {
  list-style-type: none;
}

nav > ul > li {
  float: left;
}

nav > ul > li > a {
  display: block;

  font-size: 1.2em;
  padding: 0.9em;
  line-height: 1.2em;

  color: var(--text--bottom-top-color);
  text-decoration: none;
}

nav > ul > li > a {
  display: block;

  font-size: 1.2em;
  padding: 0.9em;
  line-height: 1.2em;

  color: var(--text--bottom-top-color);
  text-decoration: none;
}

nav > ul > li > a:hover {
  text-decoration-line: underline;
}

nav > ul > li > a:active {
  background-color: var(--link-active-color);
}

#search-container {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.search-svg * {
  stroke: var(--text--bottom-top-color);
}

#search-text {
  color: var(--text--bottom-top-color);
}

#search-container > input[type="text"] {
  width: 0;
  /* 
   * When closed, preserve vertical padding.
   * This makes the opening animation look like it's happening in one dimension;
   * i.e.: The box "slides out" instead of "expanding into existence".
   */
  padding: 0.8em 0;
  opacity: 0;
  outline: none;
  transition: width 0.3s ease, padding 0.3s ease, opacity;
}

#search-container > label {
  padding: 0.3em;
  font-weight: bold;
}

#search-container > button {
  background-color: rgba(0, 0, 0, 0);
}

#search-container:focus-within > input[type="text"] {
  width: 10em;
  padding: 0.8em;
  opacity: 1;
}

#menu-toggle-wrapper {
  display: none; /* Hidden by default, flex for mobile */

  justify-content: center;
  grid-column: 5 / 6;

  color: var(--text--bottom-top-color);
}

#menu-toggle-wrapper > label > p {
  padding: 0.3em;
  font-weight: bold;
}

#menu-toggle-wrapper > label > div {
  position: relative;
  width: 1.5em;
  height: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu-toggle-wrapper > label > div > span {
  width: 1.5em;
  height: 0.2em;
  background-color: var(--text--bottom-top-color);
  transition: all 0.5s ease;
  position: absolute;
}

#menu-toggle-wrapper > label > div > #menu-icon-span0 {
  top: 0;
}

#menu-toggle-wrapper > label > div > #menu-icon-span1 {
  top: 0.4em;
}

#menu-toggle-wrapper > label > div > #menu-icon-span2 {
  top: 0.8em;
}

#menu-toggle-wrapper:has(input[type="checkbox"]:checked) > label > div {
  position: relative;
}

#menu-toggle-wrapper:has(input[type="checkbox"]:checked)
  > label
  > div
  > #menu-icon-span0 {
  top: 0.5em;
  transform: rotate(-45deg);
}

#menu-toggle-wrapper:has(input[type="checkbox"]:checked)
  > label
  > div
  > #menu-icon-span1 {
  opacity: 0;
}

#menu-toggle-wrapper:has(input[type="checkbox"]:checked)
  > label
  > div
  > #menu-icon-span2 {
  top: 0.5em;
  transform: rotate(45deg);
}

@media (max-width: 1000px) {
  header {
    grid-template-columns: 5% auto 1fr auto auto 5%;
  }
  nav {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    height: 0;
    flex-direction: column;
    overflow: hidden;
  }

  #search-container {
    grid-column: 4 / 5;
  }

  header:has(#menu-toggle-wrapper > input[type="checkbox"]:checked) > nav {
    height: auto;
  }

  nav > ul > li {
    width: 100vw;
    text-align: center;
  }

  #menu-toggle-wrapper {
    display: flex;
  }
}

@media (max-width: 480px) {
  header {
    grid-template-columns: 3% auto 1fr auto auto 3%;
  }

  #search-container:focus-within > input[type="text"] {
    width: 30vw;
  }
}

/*ADD A COMMENT:D*/
@media (max-width: 380px) {
  #search-container:focus-within > input[type="text"] {
    width: 20vw;
  }
}

@media (max-width: 330px) {
  #search-container:focus-within > input[type="text"] {
    width: 10vw;
  }
}

/**** MAIN CONTENT ****/

main {
  display: grid;
  grid-template-columns: 10% auto 10%;
}

main > article {
  grid-column: 2 / 3;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  padding: 1em 0;
}

/* Position all elements to fill space by default */
main > article > * {
  grid-column: 1 / 11;
}

@media (max-width: 1200px) {
  main {
    grid-template-columns: 5% auto 5%;
  }

  main > article {
    grid-template-columns: repeat(4, 5%) repeat(2, 30%) repeat(4, 5%);
  }
}

@media (max-width: 520px) {
  main {
    grid-template-columns: 3% auto 3%;
  }

  main > article {
    grid-template-columns: repeat(4, 3%) repeat(2, 38%) repeat(4, 3%);
  }
}

/* STUDY INFORMATION */
/* Composed of study-overview, study-info */
/* study-info contains study-year-top, study-year, semester and subjects */
.bachelor {
  font-weight: 300;
  font-size: 1.25rem;
}

.study-overview,
.subjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 2em;
}

.study-overview > dl {
  flex-basis: 21%;
}

.study-overview > dl,
.subjects > dl {
  border-top: 1px solid black;
  margin: 8px;
  padding: 0.4em;
}

.study-overview > dl > dt {
  font-weight: bold;
}

.study-overview > dl > *,
.subjects > dl > * {
  margin-left: 0;
}

.subjects {
  width: 100%;
  padding-bottom: 30px;
  font-size: small;
  margin-left: 0;
}

.subjects > dl {
  flex-basis: 25%;
}

.subjects > dl > * {
  display: flex;
  justify-content: space-between;
}

.subjects img {
  margin: px;
}

.subjects > dl > dt > img {
  height: 10px;
  width: 10px;
}

.study-info > p {
  font-size: 1.5em;
  padding: 1.75em;
  font-weight: lighter;
}

.study-info > details {
  margin: 0.5em;
}

/* font style for summary */
.study-info summary {
  appearance: none;
  -moz-appearance: none;
  list-style-type: none;
  padding: 2em;
  font-weight: 700;
  font-size: 1.2rem;
  appearance: none;
  cursor: pointer;
  margin-left: 0;
}

.study-info summary::-webkit-details-marker {
  display: none;
}

.study-info summary::before {
  margin-right: 1em;
  text-align: center;
  width: 0.6em;
  padding: 0.5em 0.6em;
  background-color: var(--secondary-color);
  content: " + ";
  display: inline-block;
}

.study-info details[open] > summary::before {
  content: " - ";
}

/* font style for details summary child */
.study-info details details summary {
  font-weight: normal;
  padding: 0.5em;
}
.study-info details details > summary::before {
  font-weight: normal;
  padding: 0.2em 0.3em;
}

.study-info details p {
  margin-left: 1.5em;
}

/* styling for lists in .study-info */
.study-info li {
  margin-top: 1em;
}
/* Styling for links in .study-info */
.study-info a {
  color: var(--text-color);
  font-weight: 700;
}
.study-info a:hover {
  text-decoration: none;
}

.study-year-top {
  display: flex;
  justify-content: end;
  align-items: center;
}

.study-year-top > img {
  height: 15px;
  width: 15px;
  margin: 3px 5px;
}

.study-year {
  background-color: rgb(237, 234, 234);
  max-width: 100%;
  font-weight: bold;
}

.study-year p {
  padding: 10px 15px 10px;
}

.study-year-top,
.semester-group,
.semester {
  font-size: medium;
}

.semester-group {
  font-weight: bold;
}

@media (max-width: 480px) {
  .study-overview {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (max-width: 800px) {
  .subjects {
    display: flex;
    flex-direction: column;
    line-height: 2em;
  }
}

/* Other Studies Section */

.other-studies {
  max-width: 900px;
  margin: auto;
}

.other-studies ul {
  list-style: none;
}

.other-studies ul ul {
  padding: 0;
}

.other-studies ul ul li {
  display: inline-block;
}

.other-studies ul ul > li:not(:last-child)::after {
  content: "|";
  padding: 0 8px;
}

.other-studies span {
  font-weight: 700;
  font-size: 1.25rem;
}

.other-studies a {
  /* Styling for links in .other-studies */
  border-top: 0.0625rem solid #e2e2e2;
  display: flex;
  justify-content: space-between;

  text-decoration: none;
  color: var(--text-color);

  padding: 1.1875rem 1.875rem 1.1875rem 0;
  transition: 0.1s ease-in-out;
}

.arrow-icon {
  margin-left: 1rem;
  transition: transform 0.25s;
}

.other-studies li:hover .arrow-icon {
  transform: translateX(5px); /* Optional animation for hover */
}

.border-bottom {
  border-bottom: 1px solid var(--border);
}

/* Student Stories */
.student-stories {
  /* Flex container for student stories */
  width: 100%;
  display: flex;
  background-color: var(--secondary-color);
}

.student-stories:hover .stories-img img {
  transform: scale(1.02);
}

.student-stories > div {
  flex: 1;
}

.stories-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 2rem 2rem 5rem;
  max-width: 50%;
}

.stories-img {
  overflow: hidden;
}

.teknologi {
  /* Styling for technology link */
  font-weight: 700;
  font-size: 1em;
}

.stories-text a {
  /* Link styling */
  color: var(--text-color);
}

.no-underline {
  /* Remove underline from links */
  text-decoration: none;
}

.stories-text h3 {
  /* Heading styling */
  font-size: 1.75rem;
  hyphens: manual;
}

.stories-text p {
  /* Paragraph styling */
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.stories-img img {
  /* Image styling */
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  transition: transform 0.2s ease; /* Smooth transition */
}

.a-stories-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.75rem;
  margin: 50px auto auto;
  box-sizing: border-box;
  font-weight: 700;
  color: var(--text-color);
  /* grid-column-start: 4;
  grid-column-end: 8; */
  height: 5rem;
  width: 100%;
  max-width: 400px;

  text-align: center;

  /*
    This CSS code snippet sets a background with a linear gradient.
    - The gradient transitions from the `--secondary-color` to the `--button-hover-color`.
    - The transition occurs at the 50% mark of the gradient.
    - The gradient direction is from right to left.
    - The background is positioned to the right.
    - The background size is set to 200%, which means it is twice the size of the element it is applied to.
  */
  background: linear-gradient(
      to left,
      var(--secondary-color) 50%,
      var(--button-hover-color) 50%
    )
    right;
  background-size: 200%;
  transition: background-position 0.3s ease;
}

.a-stories-button:hover {
  background-position: left;
}

.a-stories-button:hover .arrow-icon {
  transform: translateX(5px); /* Optional animation for hover */
}

@media (max-width: 800px) {
  .student-stories {
    /* Stack items vertically on small screens */
    flex-direction: column-reverse;
  }

  .stories-text {
    /* Adjust padding and width on small screens */
    padding: 2rem 1rem;
    max-width: 100%;
  }

  .stories-img img {
    /* Adjust image dimensions on small screens */
    width: 100%;
    height: auto;
    max-height: 400px;
  }

  .a-stories-button {
    font-size: 1.5em;
  }
}

/* footer */
.footer-index {
  margin-top: 100px;
  min-height: 600px;
  size: 100%;
  background-color: var(--primary-color);
}

footer * {
  color: white;
  fill: white;
}

.footer-flex {
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  max-width: 1600px;
  margin: auto;
  line-height: 30px;
}

.footer-main-information {
  margin-top: 50px;
}

.abonner {
  background-color: var(--accent-color);
  padding: 15px;
  margin: 20px;
  white-space: nowrap;
}

.footer-index a,
.footer-index li {
  text-decoration: none;
  list-style: none;
}

.footer-index a:hover {
  text-decoration: underline;
}

.footer-index svg {
  height: 30px;
  padding-right: 15px;
}

.footer-icons a {
  padding: 15px 0;
  display: inline-flex;
  align-items: center;
  height: 30px;
}

@media (max-width: 1000px) {
  .footer-flex {
    flex-direction: column;
    align-items: start;
    padding: 0 30px;
  }

  .abonner {
    margin: 20px 0;
  }

  .footer-links,
  .footer-icons {
    margin-top: 50px;
  }

  .footer-index ul {
    padding-left: 0;
  }

  .footer-index {
    min-height: 1300px;
  }
}
/* ------------------------ */

/* ACTIVITY CSS */
.search-svg-activity * {
  stroke: var(--activity-text-color);
}

.activity-menu-span {
  background-color: var(--activity-text-color) !important;
}

.header-activity {
  background-color: var(--activity-header-color);
  border-bottom: 1px solid var(--activity-text-color);
}

.header-activity * {
  color: var(--activity-text-color);
}

.header-activity {
}

.activity-content-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f2e9e4;
  border-radius: 5px;
}

.activity-content-buttons a {
  background-color: var(--activity-header-color);
  width: 20%;
  height: 3.5em;
  margin: 2%;
  border: none;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--text-color);
  text-decoration: none;
  color: #222222;
  font-size: 1rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.25s;
}

.activity-content-buttons a:hover {
  border: white;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .activity-content-buttons {
    padding: 0.5em 0 0.5em;
    flex-direction: column;
    align-items: center;
  }

  .activity-content-buttons a {
    width: 80%;
  }
}

#activity-main {
  background-color: #f2e9e4;
}

#activity-main p,
#activity-main a {
  font-size: large;
  line-height: 30px;
}

.article-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sub-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article-flex > * {
  width: 40%;
  margin-top: 40px;
}

.img-styler {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  height: auto;
  border-radius: 5px;
}

.img-vertical {
  max-height: 600px;
}

.info-box {
  background-color: #22223b;
  color: #f2e9e4;
  padding: 20px;
  border-radius: 5px;
}

.heading-position {
  width: 100%;
  height: 7em;
  display: flex;
  align-items: center;
}

.heading-styler,
.sub-heading-styler {
  position: absolute;
  left: 0;
  background-color: #22223b;
  color: #f2e9e4;
  padding: 5px 0;
}

.heading-styler {
  width: 100%;
  text-align: center;
}

.sub-heading-styler {
  width: 50%;
  text-align: end;
  padding-right: 10px;
  border-radius: 5px;
}

.grading-info,
.grading-table,
.grading-table-info {
  width: 80%;
  margin: 0 auto;
}

.address-hover {
  color: #22223b;
  display: block; /*Change the a tag to a block element so it breaks to a new line */
}

.address-hover:hover {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.address-hover-div > iframe {
  height: 0;
  transition: height 0.5s ease-in-out;
  position: absolute;
  z-index: 1;
  width: 600px;
}

.address-hover-div > iframe:hover,
.address-hover-div:has(a:hover) > iframe {
  height: 300px;
}

.grading-table {
  border-collapse: separate;
  table-layout: fixed;
  padding-bottom: 40px;
}

.table-heading {
  font-weight: bold;
}

td,
th {
  height: 50px;
  text-align: center;
}

.g-white {
  background-color: white;
}
.g-green {
  background-color: rgb(29, 175, 29);
}
.g-blue {
  background-color: rgb(0, 155, 255);
}
.g-yellow {
  background-color: rgb(255, 218, 51);
}
.g-red {
  background-color: rgb(255, 98, 62);
}
.g-black {
  background-color: rgb(46, 46, 46);
  color: #f2e9e4;
}
.g-undefined {
  background-color: rgb(162, 162, 162);
}

.activity-margin-top {
  margin-top: 60px;
}

@media (max-width: 800px) {
  .article-flex {
    flex-direction: column;
  }

  .article-flex > * {
    width: 80%;
    margin-top: 40px;
  }
  .grading-table {
    width: 100%;
  }

  .activity-margin-top {
    margin-top: 40px;
  }

  #oslo-klatresenter-image-div {
    order: 7;
  }

  #oslo-klatresenter-div {
    order: 6;
  }

  .img-styler {
    width: 80%;
    padding-left: 10%;
    max-height: 250px;
  }

  #img-vertical {
    height: 0;
    visibility: hidden;
  }

  .g-white,
  .g-green,
  .g-blue,
  .g-yellow,
  .g-red,
  .g-black,
  .g-undefined {
    font-size: small;
  }
}
.sub-flex-margin-big {
  margin-top: 300px;
}

#to-the-top-button {
  display: inline-flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--background-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  height: 60px;
  width: 60px;
  padding: none;
  letter-spacing: 0.5px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

#to-the-top-button img {
  height: 40px;
  width: 40px;
  transform: rotate(-90deg);
}
@media (min-width: 1201px) {
  #to-the-top-button:hover {
    color: var(--background-color);
    background: var(--hover-background-color);
  }
}
