body {
  margin: 0;
}

header {
  width: 100%;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 10% auto 1fr auto 10%; /* Navbar takes up available space */
  justify-items: start; /* Navbar is aligned left in the header */
  gap: 0;
  padding: 0;
  
  background-color: #ffd500;
}

#logoWrapper {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

#logo {
  height: 2em;
  object-fit: contain;
}

nav {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  
  display: flex;
  flex-direction: row;
}

nav > ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

nav > ul > li {
  float: left;
}

nav > ul > li > a {
  display: block;
  
  padding: 1.2em;
  
  color: black;
  text-decoration: none;
}

nav > ul > li > a:hover {
  text-decoration-line: underline;
}

nav > ul > li > a:active {
  background-color: rgba(0, 255, 255, 0.315);
}

#search-container {
  grid-row: 1 / 2;
  grid-column: 4 / 5;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-container label {
  padding: .3em;
  font-weight: 700;
}

#search-container button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

#search-container input[type="text"] {
  width: 0;
  /* 
   * When closed, preserve vertical padding.
   * This makes the opening animation look like it's happening in one dimension;
   * i.e.: The box "slides out" instead of "expanding into existance".
   */
  padding: .8em 0;
  opacity: 0;
  border: 0;
  outline: none;
  transition: width 0.3s ease, padding 0.3s ease, opacity;
}

#search-container:focus-within input[type="text"] {
  width: 10em;
  padding: .8em;
  opacity: 1;
}

@media (max-width: 900px) {
  header {
    grid-template-columns: 5% auto auto auto 5%;
  }

  nav {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    flex-direction: column;
  }

  nav > ul > li {
    width: 100vw;
    text-align: center;
  }
}

@media (max-width: 480px) {
  header {
    grid-template-columns: 3% auto auto auto 3%;
  }

  #search-container:focus-within input[type="text"] {
    width: 8em;
  }
}